[submodule "apps/fyeeme-admin-client"]
	path = apps/fyeeme-admin-client
	url = git@github.com:fyeeme/fyeeme-admin-client.git
[submodule "apps/fyeeme-web-client"]
	path = apps/fyeeme-web-client
	url = git@github.com:fyeeme/fyeeme-web-client.git
